#include "../../x64machine.h"
#include "../../x64instruction.h"
#include "../x64executortool.h"
#include "../x64disassembletool.h"

#include <stdint.h>
#include <stdbool.h>
#include <stdio.h>
#include <inttypes.h>

{%- for category, categorized in contents.items() %}

// cat: {{ category }}

{%- for func_name, ins in categorized %}

struct ErrorInfo {{ func_name }}(struct X64Machine *machine, struct Instruction *ins) {
    // Instruction      : {{ ins['Instruction'] }}
    // Opcode           : {{ ins['Opcode'] }}
    // Valid in         : {{ ins['Valid 64-bit'] }}, {{ ins['Valid 32-bit'] }}, {{ ins['Valid 16-bit'] }}
    // Feature Flags    : {{ ins['Feature Flags'] }}
    // Operand 1        : {{ ins['Operand 1'] }}
    // Operand 2        : {{ ins['Operand 2'] }}
    // Operand 3        : {{ ins['Operand 3'] }}
    // Operand 4        : {{ ins['Operand 4'] }}
    // Tuple Type       : {{ ins['Tuple Type'] }}
    // Description      : {{ ins['Description'] }}

    // TODO: implement

    struct ErrorInfo error = {ERROR_NOT_IMPLEMENTED, 0};
    return error;
}

struct ErrorInfo {{ func_name }}_disassemble(struct X64Machine *machine, struct Instruction *ins) {
    // Instruction      : {{ ins['Instruction'] }}
    // Opcode           : {{ ins['Opcode'] }}
    // Valid in         : {{ ins['Valid 64-bit'] }}, {{ ins['Valid 32-bit'] }}, {{ ins['Valid 16-bit'] }}
    // Feature Flags    : {{ ins['Feature Flags'] }}
    // Operand 1        : {{ ins['Operand 1'] }}
    // Operand 2        : {{ ins['Operand 2'] }}
    // Operand 3        : {{ ins['Operand 3'] }}
    // Operand 4        : {{ ins['Operand 4'] }}
    // Tuple Type       : {{ ins['Tuple Type'] }}
    // Description      : {{ ins['Description'] }}

    // TODO: implement

    puts("not implemented: {{ ins['Instruction'] }}");

    struct ErrorInfo error = {ERROR_NOT_IMPLEMENTED, 0};
    return error;
}

{%- endfor %}
{%- endfor %}
