#ifndef X64WEMU_SRC_EXECUTORS_EXECUTOR_ALL_H
#define X64WEMU_SRC_EXECUTORS_EXECUTOR_ALL_H

#include "../x64machine.h"
#include "../x64instruction.h"

{%- for name in name_list %}
struct ErrorInfo {{ name }}(struct X64Machine *machine, struct Instruction *ins);
struct ErrorInfo {{ name }}_disassemble(struct X64Machine *machine, struct Instruction *ins);
{%- endfor %}

#endif
