#include "{{ file_name }}.h"
#include "x64fetch.h"
#include "x64machine.h"
#include "x64instruction.h"
#include "executors/executor_all.h"

#include <stdio.h>
#include <string.h>
#include <stdint.h>
#include <stdbool.h>
#include <inttypes.h>

struct ErrorInfo {{ func_name }}(struct X64Machine *{{ var_machine }}, _Bool enable_disassemble, _Bool disable_execute, _Bool debug) {
    struct Instruction {{ ins }} = {0};
    struct ErrorInfo {{ result }};
    uint8_t {{ var_ope_size }} = 0;
    uint8_t *{{ var_code_ptr }} = &{{ var_machine }}->memory[{{ var_machine }}->ip.r];
    {{ var_ope_size }} = fetch_all_prefix({{ var_machine }}, &{{ ins }});

    {% for content in contents -%}
        {%- if content | length == 1 -%}
            if ({{ content[0]['condition'] }}) {
                if (debug)
                    printf("%" PRIx64 " : {{ content[0]['instruction'].src.instruction }} : {{ content[0]['instruction'].src.opcode }}\n", {{ var_machine }}->ip.r);

                // {{ content[0]['instruction'].src.instruction }} : {{ content[0]['instruction'].src.opcode }}

                {%- for i in content[0]['fetch_code'] %}
                    {{ i }}
                {%- endfor %}
                if (enable_disassemble) {
                    {%- for i in content[0]['disassemble_code'] %}
                        {{ i }}
                    {%- endfor %}
                }
                if (!disable_execute) {
                    {%- for i in content[0]['execute_code'] %}
                        {{ i }}
                    {%- endfor %}
                }
            }
        {%- elif content | length == 2 -%}
            if ({{ content[0]['condition'] }}) {
                if ({{ ins }}.has_prefix && {{ ins }}.prefix.grp3 == PREFIX_OPERAND_SIZE_OVERRIDE) {
                    if (debug)
                        printf("%" PRIx64 " : {{ content[0]['instruction'].src.instruction }} : {{ content[0]['instruction'].src.opcode }}\n", {{ var_machine }}->ip.r);

                    // {{ content[0]['instruction'].src.instruction }} : {{ content[0]['instruction'].src.opcode}}

                    {%- for i in content[0]['fetch_code'] %}
                        {{ i }}
                    {%- endfor %}
                    if (enable_disassemble) {
                        {%- for i in content[0]['disassemble_code'] %}
                            {{ i }}
                        {%- endfor %}
                    }
                    if (!disable_execute) {
                        {%- for i in content[0]['execute_code'] %}
                            {{ i }}
                        {%- endfor %}
                    }
                } else {
                    if (debug)
                        printf("%" PRIx64 " : {{ content[1]['instruction'].src.instruction }} : {{ content[1]['instruction'].src.opcode }}\n", {{ var_machine }}->ip.r);

                    // {{ content[1]['instruction'].src.instruction }} : {{ content[1]['instruction'].src.opcode}}

                    {%- for i in content[1]['fetch_code'] %}
                        {{ i }}
                    {%- endfor %}
                    if (enable_disassemble) {
                        {%- for i in content[1]['disassemble_code'] %}
                            {{ i }}
                        {%- endfor %}
                    }
                    if (!disable_execute) {
                        {%- for i in content[1]['execute_code'] %}
                            {{ i }}
                        {%- endfor %}
                    }
                }
            }
        {%- else -%}
           // !!!
        {%- endif -%}
         else/**/
    {%- endfor -%}
    {
        puts("-------fetch error--------");
        {{ result }}.code = ERROR_UD;
        {{ result }}.info = 0;
    }
    return {{ result }};
}
